@model DemoMVC.Models.Student

<h2>Nhập thông tin sinh viên</h2>

<form method="post">
    <div>
        <label>Mã SV:</label>
        <input type="text" name="StudentCode" />
    </div>

    <div>
        <label>Họ tên:</label>
        <input type="text" name="FullName" />
    </div>

    <button type="submit">Gửi</button>
</form>

@if (Model != null)
{
    <hr />
    <h3>@ViewBag.Message</h3>
    <p>Mã SV: @Model.StudentCode</p>
    <p>Họ tên: @Model.FullName</p>
}
